@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.main__inner {
    @extend %wrap;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 41.9%);
    grid-template-rows: auto;
    padding-bottom: 5rem;

    @include laptop-m-styles {
        grid-template-columns: 1fr minmax(auto, 45%);
    }

    @include tablet-styles {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto)
    }

    .main__text-box {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: auto;
        padding-right: 2rem;

        @include tablet-styles {
            grid-column: 1 / 2;
            grid-row: 2 / 3;

            text-align: center;
            padding-right: 0;
            align-items: center;
        }

        @include mobile-l-styles {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .text-box__button {
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
            color: $color-base-secondary;
            background-color: $color-base;
            border: 1px solid transparent;
            border-radius: 15px;
            padding: 0.875rem 1.770rem;
            transition: all 200ms ease-in-out;
            cursor: pointer;
            margin-bottom: 6.75rem;

            @include laptop-m-styles {
                margin-bottom: 2rem;
            }

            @include tablet-styles {
                margin-bottom: 3rem;
            }

            @include mobile-l-styles {
                font-size: $font-size-medium;
            }

            &:hover {
                background-color: transparent;
                border: 1px solid $color-base;
                color: $color-base;
            }
        }

        .text-box__logos-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2.5rem;

            @include laptop-m-styles {
                justify-content: flex-start;
                gap: 1.15rem;
            }

            a {
                @include laptop-m-styles {
                    img {
                        width: 80%;
                        margin: 0 auto;
                    }
                }

                @include mobile-l-styles {
                    width: 20%;
                }
            }
        }
    }

    .main__img-box {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        width: 100%;
        height: auto;

        @include tablet-styles {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin-bottom: 3rem;
        }
    }
}