@use 'sass:math';

@function rem-calc($size) {
    @return (math.div($size, 16)) * 1rem;
}

// Font settings

$font-family-base: 'Epilogue', sans-serif;

// font weight 

$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// font size
$font-size-base: rem-calc(18);
$font-size-medium: rem-calc(16);
$font-size-small: rem-calc(14);

// headings size

$font-size-headidng-main: rem-calc(80);
$font-size-headidng-medium: rem-calc(62);
$font-size-headidng-main-small: rem-calc(36);


// Color settings

$color-base: #151515;
$color-base-secondary: #FAFAFA;

$color-primary: #686868;
$color-secondary: #ADADAD;

// Size settings